/* Aplica la fuente a todos los elementos */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo para el título principal */
h1 {
  text-align: center;
  font-weight: bold;
  font-family: "Delius",serif
}

/* Selector por id para #photo */
#photo {
  width: 8vw;
  height: auto;
}

/* Selector por clase para .subtitle */
.subtitle {
  color: rgba(190, 105, 79, 0.89);
  text-transform: uppercase;
  font-family: "Inconsolata",serif
}

/* Selector para <p> dentro de <footer> */
footer p {
  text-align: right;
  font-style: italic;
}

/* Selector para <ul> hija inmediata de <nav> */
nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

nav > ul > li > a {
    color: #7a4c2a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

nav > ul > li > a:hover {
    color: #bc6a4c;
}

/* Selector por elemento para las etiquetas <section> */
section {
  border: 0.2pt solid #a5b1b1;
  margin: 4px 2px 8px 2px;
  padding: 1.5% 0.8%;
  margin-bottom: 1.2rem;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.6);
  -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.6);
  box-shadow: 3px 3px 1px 0px rgba(235,234,234,0.6);
}

/* section > form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

section#referencias{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

section#referencias h2{
  flex: 0 0 100%;
}

section#referencias article{
  flex: 0 0 calc(33.33%-1rem);
}

*/

/*section#referencias{
  display:grid;
  grid-template-areas: "sub sub sub"
                        "art1 art2 art3";
}

section#referencias h2{
  grid-area: sub;
} */

section#referencias{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

section#referencias h2{
  grid-column: 1/-1;
}

section#referencias span {
    font-weight: bold;
    display: block;
    text-align: center;
}

.tabla-habilidades {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: auto;
}

.tabla-habilidades th,
.tabla-habilidades td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.tabla-habilidades th {
    background-color: #f2f2f2;
}

#perfil {
    display: flex;
    align-items: center;
    gap: 2em;
}

#perfil #photo {
    margin-bottom: 0;
    max-width: 150px;
    height: auto;
}

#perfil p {
    margin: 0;
}

.titulonormal {
    font-weight: bold;
}

.subtitulonormal {
    font-weight: bold;
    color: #747474;
}

.centro{
    font-weight: bold;
    text-align: center;
}

section#referencias p{
    text-align: center;
}